html, body{
  margin: 0;
	padding: 0;
	border: 0;
  height:100%;
}
html {
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
}

a{ text-decoration: none; }
button:focus {outline:0;}

/*header-area*/
.header .header-top{
  width:940px;
  margin:0 auto;
  height: 80px;}

  .header-top .header-title{
    display: inline-block;
    margin-top: 24px;
    font-weight: bold;
    font-size: 30px;}

  .header-top .header-util{
    float: right;}
    .header-util .header-search{
      float: left;
      width: 181px;
      height: 28px;
      margin-top: 27px;
      margin-right: 12px;
      background: #ededed;
      border-radius: 10px;}
    .header-util .header-search:after{
      display: block;
      content: "";
      clear: both;}
      .header-util .header-search .search-text{
        float: left;
        width:140px;
        height:22px;
        border: none;
        background: none;
        font-size: 14px;
        color: #fff;
        padding-left: 10px;
        padding-top: 2px;
        outline: none;}
      .header-util .header-search .search-btn{
        padding:0;
        width: 14px;
        height: 13px;
        float: left;
        background: none;
        border: none;
        outline: none;
        margin-left: 4px;
        margin-top: 7px;}
        .header-util .header-search .search-btn img {
          height: 13px;}

    .header-util .header-tabs{
      float: left;
      margin-top: 33px;}
      .header-util .header-tabs ul{
        list-style:none;
        margin: 0;
        padding: 0;}
        .header-util ul li:nth-child(2n){
          float:left;
          font-size: 10px;
          margin: 0 12px;
          padding-top: 2px;}
        .header-util ul li:nth-child(2n+1){
          font-weight: bold;
          float:left;
          font-size: 13px;
        cursor: pointer;}

          .header-util ul li a{text-decoration: none;}

.header .header-menu{
  min-width: 940px;
  height: 54px;
  background-color: black;}
  .header-menu .header-menu-tabs{
    width:940px;
    margin:0 auto;}
  .header-menu .header-menu-tabs ul{
    list-style:none;
    margin: 0;
    padding: 0;
    color:white;}
    .header-menu .header-menu-tabs li{
      margin-top: 21px;
    }
    .header-menu .header-menu-tabs li:nth-child(2n){
      float:left;
      font-size: 16px;
      color:#464646;}
    .header-menu .header-menu-tabs li:nth-child(2n+1){
      text-align: center;
      font-weight: bold;
      width:121px;
      float:left;
      font-size: 16px;
      letter-spacing: 4px;
      cursor: pointer;
    }

  .header-menu .header-menu-tabs .facebook-btn{
    font-size: 18px;
    font-weight: bold;
    line-height: 10px;
    float: right;
    width: 25px;
    height: 25px;
    padding: 0;
    margin: 0;
    margin-top: 15px;
    background: none;
    background-image: url("/images/facebook.png");
    border: none;
    outline: none;}
/*///////////*/
/*footer-area*/
.footer-area{
  background-color: #f2f2f2;
  width: 100%;
  min-width: 940px;
  height: 104px;
  margin-top: 43px;
}
.footer-area .title{
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  padding-top: 30px;
}
/*////////////*/

/*main-page*/
.main-content{
  width:940px;
  height: 100%;
  margin:0 auto;}
  .main-content .main-first-row{
    height:358px;
    width:inherit;
    margin-top: 40px;}
    .main-first-row .image-area{
      float: left;
      height:inherit;
      width:100%;
      border: 1px solid #e1e1e1;
      margin-right: 41px;}
    .main-first-row .login-area{
      float: left;
      height:inherit;
      width:361px;
      border: 1px solid #e1e1e1;}
      .main-first-row .login-area .login-input-area{
        width:281px;
        height:inherit;
        margin:0 auto;}
        .login-input-area .login-title{
          display: block;
          font-size: 24px;
          font-weight: bold;
          margin: 25px 0 25px 0;}
        .login-input-area input{
          width:249px;
          height:50px;
          display: block;
          font-size: 15px;
          padding:0;
          padding-left: 15px;
          padding-right: 15px;
          border: 1px solid #e1e1e1;
          margin-bottom: 15px;}
          .login-input-area input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            font-size: 15px;}
          .login-input-area input::-moz-placeholder { /* Firefox 19+ */
            font-size: 15px;}
          .login-input-area input:-ms-input-placeholder { /* IE 10+ */
            font-size: 15px;}
          .login-input-area input:-moz-placeholder { /* Firefox 18- */
            font-size: 15px;}
        .login-input-area button{
          width:inherit;
          height:50px;
          display: block;
          font-size: 15px;
          color: white;}
        .login-input-area .login-btn{
          background-color: #2c2c2c;
          margin-bottom: 20px;}
        .login-input-area .signup-btn{
          background-size: #666666; width:100%;}

.main-first-row .login-area .login-user-area{}
.main-first-row .login-area .login-user-area .user-profile{}
.main-first-row .login-area .login-user-area .user-profile .user-icon{ width:36px;height:36px; padding:5px; border:1px solid #cccccc;}


.main-content .main-second-row{
  width: 938px;
  height: 356px;
  border: 1px solid #e1e1e1;
  margin-top: 40px;}
  .main-second-row .title-wrap{
    margin-top: 24px;
    width:inherit;
    height:40px;}
    .title-wrap .news-title{
      display: inline-block;
      margin: 5px 0 0 41px;
      font-size: 24px;}
    .title-wrap .view-more{
      background: url("/images/view_plus.png") no-repeat center;
      float:right;
      margin-right: 41px;
      font-size: 24px;
      width:40px;
      height:40px;
      border:1px solid black;}
  .main-second-row .content-wrap{
    margin: 22px 0 0 41px;}
    .main-second-row .content-wrap .tab{
      float: left;
      width: 200px;
      height: 230px;
      margin-right: 19px;}
      .main-second-row .content-wrap .tab .tab-picture{
        width: 200px;
        height: 124px;}
      .main-second-row .content-wrap .tab .tab-text{
        width: 162px;
        height: 68px;
        padding: 18px 18px 18px 18px;
        border: 1px solid #e1e1e1;}
        .main-second-row .content-wrap .tab .tab-text .title{
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 10px;
          width:162px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .main-second-row .content-wrap .tab .tab-text .summary{
          font-size: 14px;
          width:162px;
          height:40px;
          /*display: inline-block; width: 200px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;*/
          white-space: normal;
          line-height: 20px;
          text-align: left;
          word-wrap: break-word;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;}
.main-content .main-third-row{
  width: 938px;
  height:411px;
  border: 1px solid #e1e1e1;
  margin-top: 40px;}
  .main-third-row .title-wrap{
    margin-top: 24px;
    width:inherit;
    height:40px;}
    .title-wrap .curation-title{
      display: inline-block;
      margin: 5px 0 0 41px;
      font-size: 24px;}
    .title-wrap .view-more{
      background: url("/images/view_plus.png") no-repeat center;
      float:right;
      margin-right: 41px;
      font-size: 24px;
      width:40px;
      height:40px;
      border:1px solid black;}
  .main-third-row .content-wrap{
    margin: 22px 0 0 41px;}
    .main-third-row .content-wrap .tab{
      float: left;
      width: 200px;
      height: 286px;
      margin-right: 19px;}
      .main-third-row .content-wrap .tab .tab-picture{
        width: 200px;
        height: 286px;}
        .main-third-row .content-wrap .tab .tab-picture img{
        width:100%;
        height:100%;}
      .main-third-row .content-wrap .tab .tab-text{
        background: rgba(44, 44, 44, 0.6);
        color:white;
        position: relative;
        top: -41px;
        width: 200px;
        height: 41px;}
        .main-third-row .content-wrap .tab .tab-text .title{
          padding: 12px 12px 12px 12px;
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 10px;
          width:162px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;}
.main-content .main-fourth-row{
  width: 940px;
  height:430px;
  /*border: 1px solid #e1e1e1;*/
  margin-top: 40px;}
  .main-fourth-row .new-post{
    float: left;
    width: 448px;
    height: 430px;
    border: 1px solid #e1e1e1;}
    .main-fourth-row .new-post .title-wrap{
      margin-top: 24px;
      width:inherit;
      height:40px;}
      .title-wrap .new-title{
        display: inline-block;
        margin: 5px 0 0 41px;
        font-size: 24px;}
      .title-wrap .view-more{
        background: url("/images/view_plus.png") no-repeat center;
        float:right;
        margin-right: 41px;
        font-size: 24px;
        width:40px;
        height:40px;
        border:1px solid black;}
    .main-fourth-row .new-post .new-post-wrap{
      border-top: 2px solid black;
      border-bottom: 1px solid #cccccc;
      margin: 24px 41px 0 41px;
      width:366px;}
      .main-fourth-row .new-post .new-post-wrap .new-post-top{
        height:45px;
        width:366px;}
        .main-fourth-row .new-post .new-post-wrap .new-post-top div{
          float: left;
          line-height: 45px;
          text-align: center;
          font-size: 14px;
          font-weight: bold;
          display: block;}
        .main-fourth-row .new-post .new-post-wrap .new-post-top .sb01{width:14%;}
        .main-fourth-row .new-post .new-post-wrap .new-post-top .sb02{width:46%;}
        .main-fourth-row .new-post .new-post-wrap .new-post-top .sb03{width:20%;}
        .main-fourth-row .new-post .new-post-wrap .new-post-top .sb04{width:20%;}
      .main-fourth-row .new-post .new-post-wrap .new-post-list{
        width:366px;
        list-style: none;}
        .main-fourth-row .new-post .new-post-wrap .new-post-list li{
          height:51px;}
        .main-fourth-row .new-post .new-post-wrap .new-post-list li .cont-info div{
          border-top: 1px solid #cccccc;
          float: left;
          line-height: 50px;
          text-align: center;
          font-size: 14px;
          display: block;}
        .main-fourth-row .new-post .new-post-wrap .new-post-list li .cont-info .no{width:14%;}
        .main-fourth-row .new-post .new-post-wrap .new-post-list li .cont-info .tit{
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width:46%;}
        .main-fourth-row .new-post .new-post-wrap .new-post-list li .cont-info .regdate{width:20%;}
        .main-fourth-row .new-post .new-post-wrap .new-post-list li .cont-info .clicknum{width:20%;}
  .main-fourth-row .hot-post{
    float: right;
    width: 448px;
    height: 430px;
    border: 1px solid #e1e1e1;}
    .main-fourth-row .hot-post .title-wrap{
      margin-top: 24px;
      width:inherit;
      height:40px;}
      .title-wrap .hot-title{
        display: inline-block;
        margin: 5px 0 0 41px;
        font-size: 24px;}
      .title-wrap .view-more{
        background: url("/images/view_plus.png") no-repeat center;
        float:right;
        margin-right: 41px;
        font-size: 24px;
        width:40px;
        height:40px;
        border:1px solid black;}
    .main-fourth-row .hot-post .hot-post-wrap{
      border-top: 2px solid black;
      border-bottom: 1px solid #cccccc;
      margin: 24px 41px 0 41px;
      width:366px;}
      .main-fourth-row .hot-post .hot-post-wrap .hot-post-top{
        height:45px;
        width:366px;}
        .main-fourth-row .hot-post .hot-post-wrap .hot-post-top div{
          float: left;
          line-height: 45px;
          text-align: center;
          font-size: 14px;
          font-weight: bold;
          display: block;}
        .main-fourth-row .hot-post .hot-post-wrap .hot-post-top .sb01{width:14%;}
        .main-fourth-row .hot-post .hot-post-wrap .hot-post-top .sb02{width:46%;}
        .main-fourth-row .hot-post .hot-post-wrap .hot-post-top .sb03{width:20%;}
        .main-fourth-row .hot-post .hot-post-wrap .hot-post-top .sb04{width:20%;}
      .main-fourth-row .hot-post .hot-post-wrap .hot-post-list{
        width:366px;
        list-style: none;}
        .main-fourth-row .hot-post .hot-post-wrap .hot-post-list li{
          height:51px;}
        .main-fourth-row .hot-post .hot-post-wrap .hot-post-list li .cont-info div{
          border-top: 1px solid #cccccc;
          float: left;
          line-height: 50px;
          text-align: center;
          font-size: 14px;
          display: block;}
        .main-fourth-row .hot-post .hot-post-wrap .hot-post-list li .cont-info .no{width:14%;}
        .main-fourth-row .hot-post .hot-post-wrap .hot-post-list li .cont-info .tit{
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          width:46%;}
        .main-fourth-row .hot-post .hot-post-wrap .hot-post-list li .cont-info .regdate{width:20%;}
        .main-fourth-row .hot-post .hot-post-wrap .hot-post-list li .cont-info .clicknum{width:20%;}
.main-content .main-fifth-row{
  width: 938px;
  height:698px;
  border: 1px solid #e1e1e1;
  margin-top: 40px;}
  .main-fifth-row .title-wrap{
    margin-top: 24px;
    width:inherit;
    height:40px;}
    .title-wrap .sns-title{
      display: inline-block;
      margin: 5px 0 0 41px;
      font-size: 24px;}
    .title-wrap .view-more{
      background: url("/images/view_plus.png") no-repeat center;
      float:right;
      margin-right: 41px;
      font-size: 24px;
      width:40px;
      height:40px;
      border:1px solid black;}
  .main-fifth-row .sns-content-wrap{
    width:856px;
    border-top: 1px solid #e1e1e1;
    margin: 31px 0 0 41px;}
    .sns-content-wrap .sns-content {
      float:left;
      border-left: 1px solid #e1e1e1;
      border-bottom: 1px solid #e1e1e1;
      border-right: none;}
    .sns-content-wrap .sns-content:nth-child(3n){
      border-right: 1px solid #e1e1e1;

    }
      .sns-content-wrap .sns-content .sns-image{
        width:284px;
        height:144px;}
        .sns-content-wrap .sns-content .sns-image img{
          float: left;
          width:100%;
          height:100%;}
        .sns-content-wrap .sns-content .sns-image div{
          background: url("/images/facebook_btn.png");
          position:relative;
          float: right;
          top:-144px;
          width:40px;
          height:40px;}
      .sns-content-wrap .sns-content .sns-info{
        padding: 15px;
        width:254px;
        height:114px;}
        .sns-content-wrap .sns-content .sns-info .info-title{
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 15px;}
        .sns-content-wrap .sns-content .sns-info .info-summary{
          font-size: 14px;
          height:51px;
          margin-bottom: 15px;
          text-align: left;
          word-wrap: break-word;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;}
          .sns-content-wrap .sns-content .sns-info .info-summary span{
            color: #3b589c;}
        .sns-content-wrap .sns-content .sns-info .info-like{
          font-size: 12px;
          color: #999999;}
          .sns-content-wrap .sns-content .sns-info .info-like .like-btn{
            background: url("/images/like_btn.png");
            display: inline-block;
            width: 17px;
            height: 17px;
            margin-left: 10px;
            vertical-align: bottom;}
/*////////////////////main_over////////////////////////*/

/*signup page*/
.join-content{
  width:940px;
  height: 100%;
  margin:0 auto;}
  .join-content .join-txt{
    margin-top: 38px;
    font-weight: bold;
    font-size: 24px;}
  .join-content .join-input{
    border-top: 2px solid #e1e1e1;
    margin-top:38px;}
    .join-content .join-input .br-bt{
      border-bottom: 1px solid #e1e1e1;}
      .join-content .join-input div .txt{
        width:120px;
        display :inline-block;
        margin : 21px 0 21px 30px;
        font-size: 14px;}
      .join-content .join-input div input{height:34px;}
      .join-content .join-input div .email-id{width:134px;}
      .join-content .join-input div .email-domain{width:134px;}
      .join-content .join-input div .name{width:194px;}
      .join-content .join-input div .pwd{width:244px;}
      .join-content .join-input div .pwd-chk{width:244px;}
      .join-content .join-input div .duple{
        font-size : 15px;
        color:red;}
      .join-content .join-input div .chk-btn{
        width: 90px;
        height: 40px;
        font-size: 13px;
        color: white;}

      .join-content .join-input div .chk-btn:hover{
        background-color: orange;
      }
      .join-content .join-input select{
        width:120px;
        height:40px;
        background-color: white;
        border: 1px solid #e1e1e1;
        border-radius: 0px;
        display: inline-block;
        font: inherit;
        padding : 0 10px 0 10px;

        /* reset */
        margin: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-appearance: none;
        -moz-appearance: none;}
      .join-content .join-input .arrow{
        display :inline-block;
        width:9px;
        height: 5px;
        background: url("/images/arrow_down.png") no-repeat;
        position: relative;
        left: -25px;}
    .join-content .join-input .confirm-btn{
      display: block;
      width: 170px;
      height: 60px;
      font-size: 20px;
      color : white;
      margin : 0 auto;
      margin-top:45px;

    }

    .join-content .join-input .confirm-btn:hover{
      background-color:orange;
    }
  .join-content .link-btn-wrap{
    text-align: center;
    margin-top: 83px;}
    .join-content .link-btn-wrap .btn-group{
      margin-top: 30px;
      text-align: left;}
      .join-content .link-btn-wrap .btn-group .facebook-btn{
        width: 290px;
        height: 70px;
        margin-right: 30px;
        background: url("/images/facebook_lg_btn.png");}
      .join-content .link-btn-wrap .btn-group .twitter-btn{
        width: 290px;
        height: 70px;
        margin-right: 31px;
        background: url("/images/twitter_lg_btn.png");}
      .join-content .link-btn-wrap .btn-group .naver-btn{
        width: 290px;
        height: 70px;
        background: url("/images/naver_lg_btn.png");}
/*////////////////////signup_over////////////////////////*/
